<div class="container">
  <div class="row">
    @for (user of users | slice:(page-1)*pageSize:page*pageSize; track user.id) {
      <div class="col-md-3 mb-4 mt-4">
        <div class="card h-100 rounded-7 shadow">
          <div class="text-center p-3">
            <img [src]="user.image" class="card-img-top rounded-circle mx-auto" alt="Imagen de {{ user.first_name }}" 
                style="width: 8rem; height: 9rem; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title text-center mb-3">{{ user.first_name }} {{ user.last_name }}</h5>         
              <div class="flex-row justify-content-center align-items-center gap-2">
                <button [routerLink]="['/user', user.id]" class="btn btn-sm">
                  <i class="fas fa-search"></i> Ver detalle
                </button>
                <button [routerLink]="['/updateuser', user.id]" class="btn btn-sm">
                  <i class="fas fa-sync-alt"></i> Editar
                </button>
                <button (click)="deleteUser(user.id!)" class="btn btn-sm">
                  <i class="fas fa-trash"></i> Eliminar
                </button>
              </div>
            </div>
          </div>      
        </div>
      </div>
    }
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-12 d-flex justify-content-center">
      <button (click)="prevPage()" class="btn btn-primary mx-2" [disabled]="page === 1">
        <i class="fas fa-chevron-left"></i> Anterior
      </button>
      <span class="align-self-center mx-2">Página {{page}} de {{totalPages}}</span>
      <button (click)="nextPage()" class="btn btn-primary mx-2" [disabled]="page >= totalPages">
        Siguiente <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>