.logo {
    max-width: 80px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
    width: auto;
  }
  
  .navigation {
    display: flex;
    gap: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color:#b275b4;
  }